<!-- Title section -->
<div class="container" id="title">

    <!-- Title -->
    <div class="d-flex justify-content-center p-5">
        <div>
            <h1 class="title text-center">
                Comment ça marche ?
            </h1>
        </div>
    </div>
    <!-- /Title -->

</div>
<!-- /Title section -->

<!-- Summary -->
<div class="container">

    <div class="d-flex justify-content-center p-5">
        <h5 class="text-center">
            In<span class="text-success">Tech</span>Net vous permet d'<span class="text-success">
            organiser vos salles de classes</span> et vos cours en regroupant vos élèves par hubs. Ajustez ensuite les
            activités que vous proposez pour <span class="text-success">enrichir vos différents cours</span> avec des modules
            <span class="text-success">interactifs et adaptés aux adolescents</span>.
        </h5>
    </div>

</div>
<!-- /Summary -->

<!-- Hubs explanation -->
<div class="container mb-2">

    <h3 class="mb-3">
        Les <span class=text-success>hubs</span>
    </h3>

    <hr />

    <div class="row align-items-center">
        
        <div class="col-md-6">
            <p class="text-justify">
                Un hub est un <span class="text-success">groupe de travail</span>
                disposant de son propre lien d'invitation via lequel vous
                pourrez inviter vos élèves. 
            </p>

            <p class="mt-2 text-justify ">
                Depuis le panneau de gestion <span class="text-success">gérez
                vos participants</span>, <span class="text-success">les activités
                disponibles</span> pour le groupe ou encore
                <span class="text-success">les informations</span> du hub.
            </p>
        </div>

        <div class="my-md-0 my-3 col-md-6">
            <img src="../../../assets/img/hub-example.jpg" class="img-fluid shadow border" alt="exemple de hub">
        </div>
    
    </div>

</div>
<!-- /Hubs explanation -->

<!-- Modules explanation -->
<div class="container mb-2">

    <h3 class="mb-3">
        Les <span class=text-success>modules</span>
    </h3>

    <hr />

    <div class="row align-items-center">
    
        <div class="col-md-6">
            <p class="text-justify">
                Un module est <span class="text-success">une activité</span>
                traitant d'un thème spécifique. Chaque module aborde une thématique
                différente du domaine informatique et est étudié pour être aussi
                ludique que pédagogique.
                Sélectionnez les plus adaptés et <span class="text-success">
                organisez en quelques clics les supports</span> accompagnants
                votre cours.
            </p>
            
            <p class="text-justify mt-2">
                Proposez un ensemble de <span class="text-success">ressources
                interactives </span> à faire
                <span class="text-success">en autonomie</span> pour
                laisser vos élèves découvrir les sujets clés du numérique à leur
                rythme.
            </p>
        </div>
    
        <div class="my-md-0 my-3 col-md-6">
            <img src="../../../assets/img/modules-example.jpg" class="img-fluid shadow border" alt="exemple de modules">
        </div>
    
    </div>

</div>
<!-- /Modules explanation -->
