
<!-- Widget wrapper -->
<div class="card mb-3">

    <!-- Widget header -->
    <div class="card-header d-flex justify-content-between">
        <h5>
            {{ lightweightHub.name }}
        </h5>

        <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" [data-target]="deletionModalName">
            <i data-feather="trash-2"></i>
        </button>
    </div>
    <!-- /Widget header -->

    <!-- Widget content -->
    <div class="card-body">
        <h6 class="card-title">
            <span *ngIf="lightweightHub.attendeesCount == 0; else attendeesCountText"
                class="text-muted">
                Aucun élève inscrit
            </span>
            
            <ng-template #attendeesCountText>
                {{ lightweightHub.attendeesCount }}
                élève{{ lightweightHub.attendeesCount > 1 ? 's' : '' }}
                inscrit{{ lightweightHub.attendeesCount > 1 ? 's' : '' }}
            </ng-template>
        </h6>
        
        <p *ngIf="lightweightHub.description; else noDescriptionText"
            class="card-text mb-3">
            {{ lightweightHub.description }}
        </p>

        <ng-template #noDescriptionText>
            <p class="card-text mb-3 font-weight-light text-muted">
                Aucune description fournie pour ce hub
            </p>
        </ng-template>

        <button class="btn btn-outline-success mr-2">
            Modifier
        </button>

        <button class="btn btn-success">
            Panneau de gestion
        </button>

    </div>
    <!-- /Widget content -->

</div>
<!-- /Widget wrapper -->

<!-- Modal -->
<div class="modal fade" id="hubDeletionModal" tabindex="-1" role="dialog" [aria-labelledby]="deletionModalName"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hubDeletionLabel">Suppression du hub</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment <span class="text-danger">supprimer "{{ lightweightHub.name }}"</span> ?
                Cette opération est irréversible.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="deleteHub()">Supprimer</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->
