<!-- Title section -->
<div class="container" id="title">

    <div class="d-flex justify-content-center p-5 text-center">
        <h1 class="title">
            Tableau de bord de 
            <span class="text-success">
                {{ currentModerator.nickname | titlecase}}
            </span>
        </h1>
    </div>

</div>
<!-- /Title section -->

<!-- Hubs section -->
<div class="container">

    <h3 class="mb-3">
        Gérer <span class=text-success>mes hubs</span>
    </h3>

    <hr />

    <div *ngIf="moderatorHubs.length > 0; else noHubsView">

        <app-hub-widget *ngFor="let hub of moderatorHubs"
            [lightweightHub]="hub">
        </app-hub-widget>

    </div>

    <ng-template #noHubsView>
        <div class="container d-flex flex-column text-center">
            <p class="text-muted mb-3">
                Vous n'avez aucun hub pour le moment
            </p>
        </div>
    </ng-template>

    <!-- Hub creation widget -->
    <app-new-hub-widget></app-new-hub-widget>
    <!-- Hub creation widget -->

</div>
<!-- /Hubs section -->
