<!-- Title section -->
<div class="container" id="title">

    <div class="d-flex justify-content-center p-5 text-center">
        <div>
            <h1 class="title">
                Tableau de bord de 
                <span class="text-success">{{ currentModerator.nickname | titlecase}}</span>
            </h1>
        </div>
    </div>

</div>
<!-- /Title section -->

<!-- Hubs display -->
<div class="container">
    <div *ngIf="moderatorHubs.length > 0; else noHubsView">

        <app-hub-widget *ngFor="let hub of moderatorHubs"
            [lightweightHub]="hub">
        </app-hub-widget>

    </div>

    <ng-template #noHubsView>
        <div class="container d-flex flex-column text-center">
            <p class="text-muted mb-3">
                Vous n'avez aucun hub pour le moment
            </p>
        </div>
    </ng-template>
</div>
<!-- /Hubs display -->

<!-- Hub creation widget -->
<div class="container">
    <app-new-hub-widget></app-new-hub-widget>
</div>
<!-- Hub creation widget -->
