<!-- Title section -->
<div class="container" id="title">

    <div class="d-flex justify-content-center p-5 text-center">
        <h1 class="title">
            Votre <span class="text-success">tableau de bord</span>
        </h1>
    </div>

</div>
<!-- /Title section -->

<!-- Hubs section -->
<div class="container mb-2">

    <h3 class="mb-3">
        Gérer <span class=text-success>mes hubs</span>
    </h3>

    <hr />

    <div *ngIf="moderatorHubs.length > 0; else noHubsView">

        <app-hub-widget *ngFor="let hub of moderatorHubs"
            [lightweightHub]="hub">
        </app-hub-widget>

    </div>

    <ng-template #noHubsView>
        <div class="container d-flex flex-column text-center">
            <p class="text-muted mb-3">
                Vous n'avez aucun hub pour le moment
            </p>
        </div>
    </ng-template>

    <!-- Hub creation -->
    <div *ngIf="moderatorHubs.length < currentModerator.subscriptionPlanDto.maxHubPerModeratorAccount; else maxHubPerAccountReachView"
        (click)="onNewHub()"
        class="card card-new text-center">
        <div class="card-body text-muted">
            <h6>
                <i data-feather="plus-circle"></i>
                Créer un nouveau hub
            </h6>
        </div>
    </div>
    
    <ng-template #maxHubPerAccountReachView>
        <hr />

        <div class="text-center mt-3">
            <small class="text-muted">
                Vous avez atteint le nombre maximum de hubs pour votre compte <br />
                <a href="" class="text-success">Changer d'abonnement</a>
            </small>
        </div>
    </ng-template>
    <!-- Hub creation -->

</div>
<!-- /Hubs section -->
