<!-- Title section -->
<div class="container" id="title">

    <!-- Title -->
    <div class="d-flex justify-content-center p-5">
        <div>
            <h1 class="title">Votre <span class=text-success>profil</span></h1>
        </div>
    </div>
    <!-- /Title -->

</div>
<!-- /Title section -->

<!-- Account summary -->
<div class="container mb-2">

    <h3 class="mb-3">
        Votre <span class=text-success>compte</span>
    </h3>
    
    <p class="text-justify">
        WiP
    </p>

    <hr />
</div>
<!-- /Account summary -->
    
<!-- Subscription plans -->
<div class="container mb-2">

    <h3 class="mb-3">
        Votre <span class=text-success>abonnement</span>
    </h3>
    
    <p class="text-justify">
        WiP
    </p>

    <hr />
</div>
<!-- /Subscription plans -->

<!-- Danger zone -->
<div class="container mb-2">

    <h3 class="mb-3">
        Paramètres <span class=text-danger>critiques</span>
    </h3>

    <p class="text-justify">
        WiP
    </p>

    <button type="button" class="btn btn-danger mt-3">
        <i data-feather="trash-2" class="mr-1"></i> Supprimer mon compte
    </button>

</div>
<!-- /Danger zone -->
