<!-- Title section -->
<div class="container" id="title">

    <!-- Title -->
    <div class="d-flex justify-content-center p-5">
        <div>
            <h1 class="title">Connexion <span class="text-success">modérateur</span></h1>
        </div>
    </div>
    <!-- /Title -->

    <!-- Form content -->
    <form [formGroup]="loginForm" (ngSubmit)="OnSubmitForm()">

        <!-- Identifier -->
        <div class="form-group row justify-content-center">
            <label for="loginField"
                    class="col-sm-2 col-form-label"
                    [ngClass]="{'text-danger': isFieldInvalid('login')}">
                Pseudo ou e-mail
            </label>
            <div class="col-sm-5">
                <input type="text" 
                    class="form-control" 
                    formControlName="login" 
                    id="loginField" 
                    placeholder="thomas.a@anderson.me" 
                    [ngClass]="{'border border-danger': isFieldInvalid('login')}" 
                    required />

                <small *ngIf="isFieldInvalid('login')" class="text-danger">
                    <span *ngIf="f.login.errors && f.login.errors.required">
                        Nous avons besoin de votre identifiant pour vous montrer votre board
                    </span>
                </small>
            </div>
        </div>
        <!-- /Identifier -->

        <!-- Password -->
        <div class="form-group row justify-content-center">
            <label for="passwordField"
                    class="col-sm-2 col-form-label"
                    [ngClass]="{'text-danger': isFieldInvalid('password')}">
                Mot de passe
            </label>
            <div class="col-sm-5">
                <input type="password" 
                    class="form-control" 
                    formControlName="password" 
                    id="passwordField" 
                    placeholder="Mot de passe" 
                    [ngClass]="{'border border-danger': isFieldInvalid('password')}"
                    required />

                <small *ngIf="isFieldInvalid('password')" class="text-danger">
                    <span *ngIf="f.password.errors && f.password.errors.required">
                        Difficile d'être sûr qu'il s'agit de vous sans mot de passe !
                    </span>
                </small>
            </div>
        </div>
        <!-- /Password -->

        <!-- Form buttons -->
        <div class="form-group text-center">
            <button type="submit" 
                    class="btn btn-success mr-lg-3 mr-md-1 my-2 my-lg-3 col-sm-1 col-md-6 col-lg-3" 
                    [disabled]="!loginForm.valid">
                Se connecter
            </button>
            <button class="btn btn-outline-success my-2 col-sm-1 col-md-6 col-lg-3"
                    (click)="OnForgottenPassword()">
                Mot de passe oublié
            </button>
        </div>
        <!-- /Form buttons -->

        <!-- Registration link -->
        <div class="m-auto text-center">
            Pas encore inscrit ? <a [routerLink]="registerLink" class="text-success">Créer un compte !</a>
        </div>
        <!-- /Registration link -->

    </form>
    <!-- /Form content -->

</div>
<!-- /Title section -->