<!-- Title section -->
<div class="container" id="title">

    <!-- Title -->
    <div class="d-flex justify-content-center p-5">
        <div class="justify-content-center row">
            <h1 class="title text-center">Inscription <span class="text-success">modérateur</span></h1>

            <span class="mt-4 text-center">
                Pour vous inscrire en tant que modérateur, <span class="text-success">créez un compte</span> en saisissant les champs suivants
            </span>
        </div>
    </div>
    <!-- /Title -->

    <!-- Form content -->
    <form [formGroup]="registerForm" (ngSubmit)="OnSubmitForm()">

        <!-- Identifier -->
        <div class="form-group row justify-content-center">
            <label for="nicknameField"
                    class="col-sm-3 col-form-label"
                    [ngClass]="{'text-danger': isFieldInvalid('nickname')}">
                Identifiant
            </label>
            <div class="col-sm-5">
                <input type="text" 
                    class="form-control" 
                    formControlName="nickname" 
                    id="nicknameField" 
                    placeholder="Thomas A" 
                    [ngClass]="{'border border-danger': isFieldInvalid('nickname')}"
                    (blur) = "onBlurNickname()"
                    (focus) = "onFocusNickname()"
                    email
                    required />

                <small *ngIf="showNicknameTooltip" id="passwordHelpBlock" class="form-text text-muted">
                    Cet identifiant sera le nom sous lequel vous apparaitrez sur la plateforme
                </small>

                <small *ngIf="isFieldInvalid('nickname')" class="text-danger">
                    <span *ngIf="f.nickname.errors && f.nickname.errors.required">
                        Nous avons besoin de votre identifiant pour vous reconnaître
                    </span>
                </small>

                <small *ngIf="IsNicknameTaken" class="text-danger">                    
                    Cet identifiant est déjà utilisé
                </small>
            </div>
        </div>
        <!-- /Identifier -->

        <!-- E-mail -->
        <div class="form-group row justify-content-center">
            <label for="emailField"
                    class="col-sm-3 col-form-label"
                    [ngClass]="{'text-danger': isFieldInvalid('email')}">
                E-mail
            </label>
            <div class="col-sm-5">
                <input type="email" 
                    class="form-control" 
                    formControlName="email" 
                    id="emailField" 
                    placeholder="thomas.a@anderson.me"
                    [ngClass]="{'border border-danger': isFieldInvalid('email')}"
                    (blur) = "onBlurEmail()"
                    (focus) = "onFocusEmail()"
                    required />
                
                <small *ngIf="isFieldInvalid('email')" class="text-danger">
                    <span *ngIf="f.email.errors && f.email.errors.required">
                        Nous avons besoin de votre email pour vous reconnaître
                    </span>
                </small>
                
                <small *ngIf="isFieldInvalid('email')" class="text-danger">
                    <span *ngIf="f.email.errors && f.email.errors.email">
                        Votre adresse mail n'est pas valide
                    </span>
                </small>

                <small *ngIf="IsEmailTaken" class="text-danger">                    
                    Cet email est déjà utilisé
                </small>
            </div>
        </div>
        <!-- /E-mail -->

        <!-- Password -->
        <div class="form-group row justify-content-center">
            <label for="passwordField"
                    class="col-sm-3 col-form-label"
                    [ngClass]="{'text-danger': isFieldInvalid('password')}">
                Mot de passe
            </label>
            <div class="col-sm-5">
                <input type="password" 
                    class="form-control" 
                    formControlName="password" 
                    id="passwordField" 
                    placeholder="Mot de passe" 
                    [ngClass]="{'border border-danger': isFieldInvalid('password')}"
                    (blur) = "onBlurPassword()"
                    (focus) = "onFocusPassword()"
                    required />
                
                <small *ngIf="showPasswordTooltip" id="passwordHelpBlock" class="form-text text-muted">
                    Votre mot de passe doit faire 
                    <span [ngClass]="f.password.value.length < 8 ? 'text-danger': 'text-success'">au moins 8 caractères</span> 
                    et doit contenir au moins 
                    <span [ngClass]="(f.password.errors.containsUppercase && f.password.errors) ? 'text-danger': 'text-success'">une lettre majuscule</span>, 
                    <span [ngClass]="(f.password.errors.containsLowercase && f.password.errors) ? 'text-danger': 'text-success'">une lettre minuscule</span> et 
                    <span [ngClass]="(f.password.errors.containsDigit && f.password.errors) ? 'text-danger': 'text-success'">un chiffre</span>
                </small>

                <small *ngIf="isFieldInvalid('password')" class="text-danger">
                    <span *ngIf="f.password.errors && f.password.errors.required">
                        Nous avons besoin d'un mot de passe pour vous reconnaître
                    </span>
                </small>
            </div>
        </div>
        <!-- /Password -->

        <!-- Password verification -->
        <div class="form-group row justify-content-center">
            <label for="passwordVerificationField"
                    class="col-sm-3 col-form-label"
                    [ngClass]="{'text-danger': (isPasswordVerificationInvalid() || isPasswordVerificationOk())}">
                Confirmation du mot de passe
            </label>
            <div class="col-sm-5">
                <input type="password" 
                    class="form-control" 
                    formControlName="passwordVerification" 
                    id="passwordVerificationField" 
                    placeholder="Confirmation" 
                    [ngClass]="{'border border-danger': isPasswordVerificationOk()}"
                    required />

                <small *ngIf="isPasswordVerificationInvalid()" class="text-danger">
                    <span *ngIf="f.passwordVerification.errors && f.passwordVerification.errors.required">
                        Vous devez réécrire votre mot de passe
                    </span>
                </small>

                <small *ngIf="isPasswordVerificationOk()" class="text-danger">
                    <span *ngIf="f.passwordVerification.errors && f.passwordVerification.errors.required">
                        Les mots de passe ne correspondent pas
                    </span>
                </small>
            </div>
        </div>
        <!-- /Password verification -->

        <!-- Form buttons -->
        <div class="form-group row justify-content-center">
            <button type="submit" 
                    class="order-lg-2 mr-lg-2 mr-md-5 mx-4 mt-4 mb-2 col-sm-1 col-md-5 col-lg-3 btn btn-success" 
                    [disabled]="!registerForm.valid">
                S'inscrire
            </button>
        </div>
        <!-- /Form buttons -->

        <!-- Registration link -->
        <div class="m-auto text-center">
            Déjà inscrit ? <a [routerLink]="loginLink" class="text-success">Connectez-vous !</a>
        </div>
        <!-- /Registration link -->

    </form>
    <!-- /Form content -->

</div>
<!-- /Title section -->