<!-- Shareable link -->
<div class="container">
    <h4 class="mb-3">
        Obtenir le <span class=text-success>lien de partage</span>
    </h4>

    <p class="text-justify">
        Envoyez ce lien à vos élèves pour les inviter à votre hub. N'importe
        quel élève muni de ce lien pourra rejoindre votre hub.
    </p>

    <button class="btn btn-outline-success mt-3"
            (click)="onCopyShareableLink()">
        <i data-feather="clipboard" class="mr-1"></i>
        Copier le lien partageable
    </button>
</div>

<hr />
<!-- /Shareable link -->

<!-- Options -->
<div class="container">
    <h4 class="mb-3">
        <span class=text-success>Options</span> du hub
    </h4>

    <form [formGroup]="updateHubForm" (ngSubmit)="onUpdateHub()" autocomplete="off">

        <!-- Hub name -->
        <div class="form-group row justify-content-center">
            <label for="nameField" class="col-sm-3 col-form-label"
                [ngClass]="{'text-danger': isFieldInvalid('name')}">
                Nom *
            </label>
            <div class="col-sm-5">
                <input type="text" 
                    class="form-control" 
                    formControlName="name" 
                    id="nameField"
                    placeholder="Les dangers d'internet"
                    [ngClass]="{'border border-danger': isFieldInvalid('name')}"
                    max="21"
                    required />
                <small class="text-muted">
                    Le nouveau nom de votre module (21 caractères maximums)
                </small>

                <small *ngIf="isFieldInvalid('name')" class="text-danger">
                    <span *ngIf="f.name.errors && f.name.errors.required">
                        Vous devez spécifier un nouveau nom pour votre hub
                    </span>
                </small>
            </div>
        </div>
        <!-- /Hub name -->

        <!-- Description -->
        <div class="form-group row justify-content-center">
            <label for="descriptionField" 
                class="col-sm-3 col-form-label"
                [ngClass]="{'text-danger': isFieldInvalid('description')}">
                Description du hub *
            </label>
            <div class="col-sm-5">
                <input type="text"
                    class="form-control"
                    formControlName="description"
                    id="descriptionField"
                    placeholder="Hub de la classe 4ème C de M. Martin"
                    required/>
                <small class="text-muted">
                    La nouvelle description de votre module
                </small>

                <small *ngIf="isFieldInvalid('description')" class="text-danger">
                    <span *ngIf="f.description.errors && f.description.errors.required">
                        Vous devez spécifier une nouvelle description pour votre hub
                    </span>
                </small>
            </div>
        </div>
        <!-- /Description -->

        <!-- Form buttons -->
        <div class="form-group">
            <button type="submit"
                class="btn btn-success mt-3"
                [disabled]="!updateHubForm.valid">
                Mettre à jour le hub
            </button>
        </div>
        <!-- /Form buttons -->

    </form>
    <!-- /Form content -->

</div>

<hr />
<!-- /Options -->

<!-- Danger zone -->
<div class="container mb-5">
    <h4 class="mb-3">
        Paramètres <span class=text-danger>critiques</span>
    </h4>

    <p class="text-justify">
        Si vous supprimez ce hub, <span class=text-danger>toutes les informations
        associées seront supprimées</span>. Les élèves inscrits ne le seront plus
        et vous ne pourrez plus y accéder.
    </p>

    <button id="openHubDeletionModal" 
            class="btn btn-danger mt-3"
            type="button"
            data-toggle="modal"
            data-target="#hubDeletionModal">
        <i data-feather="trash-2" class="mr-1"></i> Supprimer le hub
    </button>

</div>
<!-- /Danger zone -->

<!-- Hub deletion modal -->
<div class="modal fade" id="hubDeletionModal" tabindex="-1" role="dialog" aria-labelledby="hubDeletionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hubDeletionModalLabel">Suppression du hub</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes vous certain de vouloir <span class="text-danger">supprimer votre hub ?</span>
                Cette opération est <span class="text-danger">irreversible</span>.
            </div>
            <div class="modal-footer">
                <button type="button" id="closeHubDeletionModal" class="btn btn-outline-secondary"
                    data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="onDeleteHub()">Supprimer</button>
            </div>
        </div>
    </div>
</div>
<!-- /Hub deletion modal -->
