<div class="d-flex flex-row flex-wrap mb-5 py-2 w-75 m-auto">

  <!-- /standard view -->
  <ng-container *ngIf="!data.isToggled; else toggledView">
    <!-- image -->
    <img [src]="data.imgPath"
      class="img-responsive rounded-circle border order-1 m-auto"
      alt="Responsive image">
    <!-- /image -->

    <!-- content -->
    <p class="flex-fill p-1 text-justify mx-2 text-wrap d-flex align-items-center order-2">
      {{ data.content }}
    </p>
    <!-- /content -->
  </ng-container>
  <!-- /standard view -->

  <!-- toggled view -->
  <ng-template #toggledView>
    <!-- content -->
    <p class="flex-fill p-1 text-justify mx-2 text-wrap d-flex align-items-center text-right order-2">
      {{ data.content }}
    </p>
    <!-- /content -->

    <!-- image -->
    <img [src]="data.imgPath"
      class="toggled img-responsive rounded-circle border order-1 m-auto"
      alt="Responsive image">
    <!-- /image -->
  </ng-template>
  <!-- /toggled view -->

</div>
