// SCSS media queries
@import "../../mixins.scss";

.toggled {
  @include x-sm  {
    order: 1;
  }

  @include lg {
    order: 2;
  }
}

// Main content
img {
  height: 200px;
  width: 200px;
}

p {
  width: 500px;

  @include x-sm {
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: smaller;
    text-align: center !important;
  }

  @include sm {
    font-size: small;
  }
}

