<!-- Title section -->
<div class="container" id="title">

    <!-- Title -->
    <div class="d-flex justify-content-center p-5">
        <div>
            <h1 class="title">Contact</h1>
        </div>
    </div>
    <!-- /Title -->

    <!-- Text intro -->
    <div class="text-container d-flex flex-column justify-content-center text-center">
        <div>
            <p>
                Vous <span class="text-success">rencontrez un problème</span> ou
                souhaitez nous donner votre <span class="text-success">feedback</span> ?
            </p>

            <p class="my-3">
                N'hésitez pas à nous envoyer un mail via <span class="text-success">{{ mailAddress }}</span> !
            </p>
        </div>
    </div>
    <!-- /Text intro -->

</div>
<!-- /Title section -->
